[Unit]
Description=Republic Protocol's Darknode Daemon
After=network.target

[Service]
ExecStart=/home/ubuntu/go/bin/darknode --config /home/ubuntu/.darknode/config.json
Restart=on-failure
StartLimitBurst=0

# Specifies which signal to use when killing a service. Defaults to SIGTERM.
# SIGHUP gives parity time to exit cleanly before SIGKILL (default 90s)
KillSignal=SIGHUP

[Install]
WantedBy=default.target

